
.container{
    text-align: center;
    margin-top:23px;
}
h1{
    font-family: sans-serif;
    font-size: 2rem;
}
table{
    margin: auto;
}
input{
    font-size: 41px;
    width: auto;
    border: 5px solid #f8e9e9f2;
    border-radius: 18px;
    text-decoration: none;
    color: blue;
}
button{
    font-size: 23px;
    background-color: #f8e9e9f2;
    width: 100px;
    height: 73px;
    border-radius: 20px;
    margin: 5px;
}
.calculator{
    background-color: #00fff2;;
    padding: 20px;
    border-radius: 28px;
    display: inline-block;
}